<div class="container mt-5">
  <div class="uk-flex-center uk-text-center" uk-grid>
    <div class="uk-grid-width-1-3@m">
      <h1>
        Not Found
      </h1>
      <p class="uk-text-lead">
        Sorry you couldn't reach your destination.
      </p>
      <p>
        If this is a mistake on our part, please report incident to us.
      </p>
      <hr class="my-2">
      <a [routerLink]="['/']" class="uk-button uk-button-secondary">Return home</a>
    </div>
  </div>
</div>>