<div class="uk-container my-2">
  <div *ngIf="busy" class="uk-flex-center mt-3" uk-grid>
    <span uk-spinner="ratio: 4"> </span>
  </div>
  <app-offline *ngIf="error" (refresh)="doRefresh($event)"></app-offline>

  <div class="" uk-grid *ngIf="!busy && page">
    <div class="uk-width-2-3@m">
      <article class="uk-article mb-5">
        <h1 class="uk-article-title">
          <a class="uk-link-reset" [innerHTML]="page.title.rendered"></a>
        </h1>
        <div *ngIf="!page.content.rendered.length">
          <p class="uk-text-lead">
            This page is empty  
          </p>
          <p class="uk-text-muted">
            This page is either your "BlogPosts" page or your "Homepage" on your WordPress website.
          </p>
          <a [routerLink]="['/']" class="uk-button uk-button-secondary">Go home</a> 
        </div>
        <div [innerHTML]="page.content.rendered" *ngIf="page.content.rendered.length"></div>

      </article>
    </div>
  </div>
</div>