<div class="uk-section uk-section-small uk-section-default" *ngIf="!busy && items?.length">
  <div class="uk-container uk-container-small">
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
      <div *ngFor="let item of items" class="">
        <a [routerLink]="['/', type, item.id, item.slug]" class="no-decor">
          <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <h3 class="uk-card-title">{{ item.name }}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onDown()" (scrolledUp)="onUp()"></div>