<div class="uk-container my-2">
  <div *ngIf="busy" class="uk-flex-center mt-3" uk-grid>
    <span uk-spinner="ratio: 4"> </span>
  </div>
  <app-offline *ngIf="error" (refresh)="doRefresh($event)"></app-offline>

  <div class="" uk-grid *ngIf="!busy && post">
    <div class="uk-width-2-3@m">
      <article class="uk-article mb-5">
        
        <h1 class="uk-article-title">
          <a class="uk-link-reset" [innerHTML]="post.title.rendered"></a> <span *ngIf="is_saved" class="uk-text-muted" uk-icon="icon: check; ratio: 2;" class="ml-2" title="This article is available to view offline"></span>
        </h1>
        <p class="uk-article-meta mb-0">Written by
          <span *ngIf="!user" uk-spinner></span>
          <a href="#user" uk-toggle *ngIf="user">{{ user.slug }}</a> on {{ post.date | date }}. Posted in
          <ng-container *ngFor="let category of post._embedded['wp:term']">
            <a *ngIf="category[0]?.taxonomy === 'category'" [routerLink]="['/category', category[0].id, category[0].slug]">{{ category[0].name }} &bull; </a>
          </ng-container>
        </p>
        <app-share [post]="post"></app-share>
        <div [innerHTML]="post.content.rendered"></div>
        <app-share [post]="post"></app-share>
        <div class="uk-grid-small uk-child-width-auto" uk-grid>
          <div>
            <a class="uk-button uk-button-text" target="new" href="{{ post.link}}#disqus_thread">View Comments</a>
          </div>
        </div>
      </article>
    </div>
    <div class="uk-width-1-3@m mb-4">
      <span uk-sticky="bottom: true">
        <h6 class="uk-text-lead uk-text-muted uk-text-center mb-0 mt-2">Also similar</h6>
        <hr class="uk-divider-icon mt-0">
        <div class="uk-flex-center mt-3" uk-grid *ngIf="side_busy">
          <span uk-spinner="ratio: 2"> </span>
        </div>
        <span [@listAnimation]="merged_array?.length">

          <ul class="uk-list uk-list-divider uk-article-meta" *ngIf="!side_busy && merged_array?.length">
            <li *ngFor="let posts of merged_array">
              <a [routerLink]="['/', posts.slug, posts.id]" [innerHTML]="(posts.title.rendered.length > 55) ? (posts.title.rendered | slice: 0:55 )+'..':(posts.title.rendered)">
              </a>
            </li>
          </ul>
        </span>
      </span>
    </div>
  </div>
</div>

<div id="user" class="uk-flex-top" uk-modal *ngIf="user">
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">{{ user.name }}
      <br>
      <small class="uk-text-muted">{{ user.slug }}</small>
    </h2>
    <img [src]="user.avatar_urls[96]">
    <p [innerHTML]="user.description"></p>
    <a [routerLink]="['/author', user.id]" class="uk-button uk-button-text" (click)="hideModal()">View my posts</a>
  </div>
</div>