<div class="uk-container">
  <div class="uk-child-width-1@s uk-child-width-1-2@m" uk-grid *ngIf="!busy && posts?.length">
    <div [@listAnimation]="posts.length">
      <!-- WITH IMAGE SECTION -->
      <a [routerLink]="['/', post.slug, post.id]" class="uk-card uk-card-default uk-card-hover uk-grid-collapse uk-margin-bottom no-underline" *ngFor="let post of posts | slice:0:4"
        uk-grid>
        <div class="uk-card-media-left uk-cover-container uk-width-1-3">
          <span *ngIf="post['_embedded']['wp:featuredmedia'] !== undefined" class="img-wrapper">
            <a [routerLink]="['/', post.slug, post.id]" class="image">
              <img [src]="post['_embedded']['wp:featuredmedia'][0].source_url"  alt="{{ post['_embedded']['wp:featuredmedia'][0].title.rendered }}"
                title="{{ post['_embedded']['wp:featuredmedia'][0].title.rendered }}">
            </a>
          </span>
          <span *ngIf="post['_embedded']['wp:featuredmedia'] === undefined">
            <a [routerLink]="['/', post.slug, post.id]">
              <img src="assets/img/no-thumb.gif" alt="No thumbnail" title="No thumbnail">
            </a>
          </span>
        </div>
        <div class="uk-width-2-3">
          <div class="uk-card-body p-0 pr-1 ml-1 mt-1">
            <a [routerLink]="['/', post.slug, post.id]" class="no-underline" title="{{ post.title.rendered }}">
              <h3 class="uk-card-title m-0 ml-1" title="{{ post.title.rendered }}" style="line-height: 1;" [innerHTML]="(post.title.rendered.length > 55) ? (post.title.rendered | slice: 0:55 )+'..':(post.title.rendered)"></h3>
            </a>
            <p class="uk-text-meta ml-1 mt-1 pt-0">
              <time title="{{ post.date }}">{{ post.date | date }} <span *ngIf="is_saved(post.id)" class="uk-icon-button" uk-icon="icon: check;" class="ml-2" title="This article is available to view offline"></span></time>
            </p>

            <div class="ml-1" [innerHTML]="(post.excerpt.rendered.length > 60) ? (post.excerpt.rendered | slice: 0:60)+'..':(post.excerpt.rendered)"></div>
          </div>
        </div>
      </a>
      <!-- END WITH IMAGE SECTION-->
    </div>
    <div>
      <div class="uk-child-width-1-2@s uk-grid-small" uk-grid [@listAnimation]="posts.length">
        <div *ngFor="let post of posts | slice:4:15">
          <a [routerLink]="['/', post.slug, post.id]" class="no-underline">
            <div class="uk-card uk-card-default uk-padding-small uk-card-hover">
              <a class="no-underline" title="{{ post.title.rendered }}">
                <p class="uk-h4 mb-2 ml-1" [innerHTML]="post.title.rendered"></p>
              </a>
              <p class="uk-text-meta my-0 ml-1">
                <time title="{{ post.date | date }}">{{ post.date | date }} <span *ngIf="is_saved(post.id)" class="uk-icon-button" uk-icon="icon: check;" class="ml-2" title="This article is available to view offline"></span></time>
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-container mt-4" *ngIf="!busy && posts?.length">
  <div class="uk-flex-center" uk-grid>
    <div class="uk-width-2-3@m">
      <div class="uk-section uk-section-muted uk-section-small ">
        <div class="uk-container">
          <h3 class="uk-text-center">More articles</h3>
          <div class="uk-child-width-1 uk-grid-match" uk-grid [@listAnimation]="posts.length">
            <div *ngFor="let post of posts | slice:15">
              <div class="uk-card uk-card-default uk-card-hover-medium uk-card-body">
                <a [routerLink]="['/', post.slug, post.id]" class="uk-button-text" title="{{ post.title.rendered }}">
                  <h3 class="uk-card-title" [innerHTML]="post.title.rendered"></h3>
                </a>
                <p [innerHTML]="post.excerpt.rendered.split('.')[0] + '.'"></p>
                <a [routerLink]="['/', post.slug, post.id]" class="uk-button uk-button-small uk-button-text" title="{{ post.title.rendered }}">Continue reading</a>
                <small class="uk-float-right">{{ post.date | date }} <span *ngIf="is_saved(post.id)" class="uk-icon-button" uk-icon="icon: check;" class="ml-2" title="This article is available to view offline"></span></small>
              </div>
            </div>
            <div class="uk-text-center mt-2s" *ngIf="end">
              <hr class="uk-divider-icon">
              <p class="uk-text-lead mb-0">
                You've reached the end of all the articles.
              </p>
              <p class="uk-text-muted mt-1">That was fun, right?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="uk-flex-center mt-2" uk-grid *ngIf="infinite_busy && !end">
    <span uk-spinner="ratio: 4"> </span>
  </div>

</div>
<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onDown()" (scrolledUp)="onUp()"></div>